* {
  margin: 0px;
  padding: 0px;
}

/* ETIQUETAS SIN CLASE */
.a:link, a:visited, a:active{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: aliceblue;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #3bb2af;
}

/* FOOTER */
.footer-black{
  background-color: black;
}

/* ESTILOS DE FUENTES */
.font-white{
  color: white;
}
.font-black{
  color: #000 !important;
}

/* ESTILOS DE IADPI */
.iadpi-color{
  color: #3bb2af;
}
.iadpi-bg{
  background-color: #3bb2af;
}